Source: bibtexconv
Section: tex
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due.de/~dreibh/bibtexconv/
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, bison, flex, libcurl4-openssl-dev, libssl-dev
Standards-Version: 3.9.1

Package: bibtexconv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zip
Recommends:
Description:  BibTeX Convertor
 BibTeXConv is a BibTeX convertor. ...
