#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk


%:
	dh $@ --with autotools_dev

# Do not compress example files
override_dh_compress:
	dh_compress -X.bib -X.export -X.odt
